body {
    background-color: #f7f7f7;
	padding: 12px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.albumArt {
    width: auto;
    height: 50px;
    margin-right: 5px;
}
.followedArtist {
    font-size: 24px;
    margin: 5px;
}
.sticky {
    background-color: #f7f7f7;
    min-width: 200px;
    width: 50%;
}
.withImage:after {
    /*background-image: url('https://jmtk.co/imgupload/images/71d86ab0BWmhy2I[1].jpg');
    background-repeat: no-repeat;
    opacity: 0.4;
    top:0;right:0;left:0;bottom:0;
    position: absolute;
    content:"";
    z-index:-1;
    background-size: cover;
    background-position: center center;*/
}
.needsAuth {
    padding: 40px;
    border-radius: 4px;
    margin:0 auto;
    margin-top: 10%;
    max-width: 65%;
    text-align: center;
    /*background: rgba(255,255,255,0.95);
    border: 1px solid #aaa;*/
}

.displayName {
	font-size: 26px;
}
.image-cropper {
	margin-left: 25px;
	width: 85px;
	height: 85px;
	position: relative;
    background-size: cover;
	display: inline-block;
	overflow: hidden;
	border-radius: 50%;
}

.profilePic {
	border: 1px inset #222;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

/*.image-cropper img {
	margin: 0 auto;
    margin-left: 25px;
	width:auto;
    position: absolute;
	height: 100%;
}*/

.AuthButton {
	font-size: large;
}

a {
    color: #1DB954;
}

.SpotifyButton,  .playlists input[type="checkbox"]:checked+label, .playlists .playlistLabel {
    position: relative;
    background: none;
    background-color: #1DB954;
    border: 1px solid #18ac4c;
    border-radius: 3px;
    opacity: 1;
    padding: 8px 12px;
    color: #fefefe;
}

.SpotifyButton:disabled, .SpotifyButton:disabled:hover {
    background-color: #aaa;
    cursor: not-allowed;
	opacity: 0.7;
    border: 1px solid lightgray;
}

.playlists .playlistLabel {
	display: block;
	font-weight: normal;
    background-color: #777;
    cursor: pointer;
	width: 90%;
    opacity: 0.7;
    border: 1px solid #888;
}

	.playlists .playlistLabel span {
		color: #fff;
	}

	.playlists .playlistLabel .customURI {
		color: black;
	}

.playlists .playlistLabel:hover {
    border-color: #34db6f;
}

.SpotifyButton {
    display: inline-block;
}
.playlists input[type="checkbox"]:checked+label {
    display: block;
    padding: 16px 12px;
    padding-left: 50px;
    width: 95%;
}

.SpotifyButton:hover {
    color: white;
    background-color: #34db6f;
}
.playlistOptions {
    border-radius: 4px;
}
#displayName {
    vertical-align: top;
}

#playlistName {
    min-width: 250px;
}

.logo {
	color: black;
	font-size: 68px;
}

hr {
	margin: 10px auto;
}

* {
	transition: 0.3s all;
}

.varianceLimit {
    font-weight: bold;
}

input, select {
    padding: 5px;
    border: 1px solid #d8d8d8 !important;
    outline: none;
}

.playlistOptions input[type=number] {
    max-width: 48px;
}
.playlistOptions select {
    max-width: 150px;
}

.playlists input[type=checkbox] {
    display: none;
}

#varianceLevel {
	max-width: 240px;
	display: inline-block;
	vertical-align: middle;
}

.playlists input[type="checkbox"]:checked+label > .checkmark:before {
    content: '\2713';
    display: inline-block;
    vertical-align: text-top;
    text-align: center;
    width: 100%;
    font-size: 12px;
    position: relative;
    top: -1px;
}
.playlists .playlistCount {
    float: right;
}

.playlists input[type="checkbox"]:checked+label .checkmark {
    display: inline-block;
    background-color: rgba(223,223,223, 0.3);
    color: #fff;
    font-weight: bold;
    margin: 7px 0px 0px 8px;
    border-radius: 50%;
    position: absolute;
    left: 8px;
    top: 11px;
    border: 1px solid rgba(255,255,255,0.3);
    width: 20px;
    height: 20px;
}

.mymodal {
    display: none;
}
/* Anytime the body has the loading class, our
      mymodal element will be visible */
.loading .mymodal {
    display: block;
    background: rgba(255,255,255,0.8);
    position: fixed;
    top: 0;
    z-index: 1000;
    bottom: 0;
    left: 0;
    right: 0;
}
.spinnerArea .spinner-grow {
    width: 8em;
    height: 8em;
}


@media (max-width: 768px) {
    .needsAuth {
        position: absolute;
        top:0;
        bottom: 0;
        right:0;
        left: 0;
        max-width: 100%;
        margin: 0;
        border: none;
        border-radius: 0;
        overflow: hidden;

    }
    .AuthButton {
        font-size: 2em;
    }
    .logo {
        font-size: 40px;

    }
}
